@use "../../styles/variables" as *;

.page {
    padding: 40px;
    max-width: 1300px;
    margin: 0 auto;
}

.heading {
    font-family: $font-sans;
    font-size: 24px;
    margin-bottom: 20px;
}

.noResults {
    font-size: 16px;
    color: $grey-800;
}