@use "../../styles/variables" as *;

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
}

.btn {
    background: transparent;
    border: none;
    color: $white-muted;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.2s;

    &:hover {
        color: $white-soft;
        background: rgba(255, 255, 255, 0.06);
    }
}

.active {
    color: $white-soft;
    background: rgba(255, 255, 255, 0.12);
}