/* Color Palette */
$black-deep: #0c0c0c;
$grey-900: #1a1a1a;
$grey-700: #2d2d2d;
$grey-800: #3b3b3b;
$grey-600: #3a3a3a;
$grey-300: #6e6e6e;
$grey-100: #aaaaaa;
$white-soft: #f5f5f5;
$white-muted: rgba(255, 255, 255, 0.7);

/* Fonts */
$font-serif: Tobias, "Para Supreme Normal", serif;
$font-sans: "DM Sans", "Karla", sans-serif;

$profile-img-size: 120px;